<%- include('../layouts/adminheader.ejs') %>

<h2 class="page-title">
  Pages
</h2>

<a href="/admin/pages/add-page" class="btn btn-primary">Add a new page</a>

<br>
<br>

<table class="table table-striped">
    <thead>
      <tr>
        <th>title</th>
        <th>edit</th>
        <th>delete</th>
      </tr>
        

    </thead>

    <tbody>
        <% pages.forEach(function(page) { %>
          <tr>
            <td><%= page.title %></td>
            <td><a href="/admin/pages/edit-page/ <%= page.slug %> " > Edit</a></td>
            <% if(page.slug=="home") { %>
            <td></td>
            <% } else { %>
              <td><a href="/admin/pages/delete-page/ <%= page._id %> " >Delete<a></td>
              </tr>
              <% } %>
            </tr>
          <% }); %>
    </tbody>


</table>


<%- include('../layouts/adminfooter.ejs') %>

